<div class="centered-content">
    <div class="task-manager-container">

        

        <div class="task-list-container has-background-light">
            <div >
            <h1 class="title has-text-primary">
                Tasks
            </h1>
            <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }"><p>{{ task.description }}</p></div>
           <!-- <h3 class="empty-state-text" *ngIf="tasks.length === 0">No Tasks to view ... add some</h3> -->
           
           <div (click)="logout()" class="logout button is-primary">
            <h3>Logout</h3>
           </div>
           
           <div [routerLink]="['/new-task']" class="circle-add-button button is-primary">
                <img src="../../../assets/plus-icon.svg" alt="">
            </div>
            </div>
            <div *ngIf="!tasks"> 
                <h3 class="empty-state-text">No Tasks to view ... add some</h3>
            </div>
        </div>

        

    </div>
</div>